

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: #ffe6f2;
    color: #4a0039;
}

.navbar {
    padding: 20px 40px;
    background: #ffb3d9;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #4a0039;
}



.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 40px;
    gap: 30px;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 42px;
    margin-bottom: 20px;
    color: #b30086;
}

.hero-content p {
    font-size: 18px;
    color: #4a0039;
}

.hero-img img {
    width: 340px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    border: 4px solid #ffb3d9;
}

.about {
    text-align: center;
    padding: 50px 40px;
    background: #ffd6ea;
}

.about h2 {
    font-size: 32px;
    color: #b30086;
    margin-bottom: 15px;
}

.about p {
    font-size: 18px;
    max-width: 700px;
    margin: auto;
    color: #4a0039;
}

/* --------------------
   FOOTER
-------------------- */

footer {
    padding: 20px;
    text-align: center;
    background: #ffb3d9;
    color: #4a0039;
    margin-top: 40px;
    font-weight: bold;
}


@media (max-width: 1024px) {
    .hero {
        padding: 60px 30px;
    }

    .hero-content h1 {
        font-size: 36px;
    }

    .hero-img img {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-content h1 {
        font-size: 32px;
    }

    .hero-img img {
        width: 75%;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {

    .navbar {
        padding: 15px 20px;
    }

    .logo {
        font-size: 22px;
    }

    .hero-content h1 {
        font-size: 28px;
    }

    .hero-content p {
        font-size: 16px;
    }

    .hero-img img {
        width: 90%;
    }

    .about h2 {
        font-size: 28px;
    }

    .about p {
        font-size: 16px;
    }
}
